In [5]:
from sqlalchemy import create_engine
import pandas as pd

# Database URL
db_url = "postgresql://citus:floox2024!@c-groupe4.tlvz7y727exthe.postgres.cosmos.azure.com:5432/netfloox"

# Create engine
engine = create_engine(db_url)

# Define the SQL query to fetch data from the view
sql_query_rec = """SELECT * FROM netfloox_complet.recommendation"""


# Read the data into a pandas DataFrame
df = pd.read_sql(sql_query_rec, engine)

In [ ]:
sql_query_user
sql_query_likes
sql_query_

# Close the database connection
engine.dispose()

knn model

In [6]:

df['primaryTitle'].fillna('', inplace=True)
df['genres'] = df['genres'].fillna('')
df['genres'] =  df['genres'].str.replace(',', ' ')
df['actors'] = df['actors'].astype(str) 
df['directors'] =df['directors'].astype(str)
df['genres'] = df['genres'].fillna('')
df['averageRating'] =df['averageRating'].astype(str)

In [7]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
# For simplicity,  fill missing values for categorical data with a placeholder and numerical with median
df.fillna({'primaryTitle': 'Unknown', 'directors': 'Unknown', 'actors': 'Unknown', 
           'genres': 'Unknown'}, inplace=True)

df.dropna()

,averageRating,numVotes,primaryTitle,startYear,genres,actors,directors
0,9.3,2853628,The Shawshank Redemption,1994.0,Drama,"nm0006669,nm0348409,nm0000151,nm0000209",nm0001104
1,9.0,2834864,The Dark Knight,2008.0,Action Crime Drama,"nm0000288,nm0005132,nm0001173,nm0000323",nm0634240
2,8.8,2517022,Inception,2010.0,Action Adventure Sci-Fi,"nm0913822,nm0680983,nm0330687,nm0000138",nm0634240
3,8.8,2289081,Fight Club,1999.0,Drama,"nm0001570,nm0340260,nm0000093,nm0001533",nm0000399
4,9.2,2252413,Game of Thrones,2011.0,Action Adventure Drama,"nm0227759,nm3229685,nm0322513,nm0182666",None
...,...,...,...,...,...,...,...
99995,6.5,326,Daughters of the Cult,2024.0,Biography Crime Documentary,"nm8355047,nm14068835,nm7941414",None
99996,6.5,326,Gall Force: Eternal Story,1986.0,Action Animation Sci-Fi,None,nm0015425
99997,6.5,326,Girls on Top,1985.0,Comedy,nm1565414,None
99998,6.5,326,Harukana Receive,2018.0,Animation Drama Sport,None,None
99999,6.5,326,Ivan,1932.0,Drama,"nm0094106,nm0326725,nm0331178",nm0235590

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

# Combine textual features
df['startYear'] = df['startYear'].astype(str)
df['numVotes'] = df['numVotes'].astype(str)
df['combined_features'] = df['primaryTitle']+ ' ' + df['directors'] + ' ' + df['actors']  + ' ' + df['startYear'] + ' ' + df['numVotes'] + ' ' + df['averageRating']
# TF-IDF Vectorization for the combined textual features
vectorizer = TfidfVectorizer(lowercase=True, stop_words='english')
combined_features_tfidf = vectorizer.fit_transform(df['combined_features'])

In [10]:
from sklearn.neighbors import NearestNeighbors
import pandas as pd
vectorizer = TfidfVectorizer(lowercase=True, stop_words='english')
combined_features_tfidf = vectorizer.fit_transform(df['combined_features'])
def suggest_film_name_contains(input_film_name, df):
    # Normalize the input film name to lowercase for case-insensitive matching
    input_film_name_lower = input_film_name.lower()
    
    # Filter the DataFrame for titles that contain the input string
    contains_match_df = df[df['primaryTitle'].str.lower().str.contains(input_film_name_lower)]
    
    # If one or more matches are found, return the title of the first match
    if not contains_match_df.empty:
        return contains_match_df.iloc[0]['primaryTitle']  # Return the first matching title
    else:
        return None
    
# Building the recommendation model
model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
model_knn.fit(combined_features_tfidf)

def get_recommendations(film_name, df, model_knn, vectorizer):
    # Transform film_name to match the features space
    film_features = vectorizer.transform([film_name])
    
    # Find similar movies
    distances, indices = model_knn.kneighbors(film_features, n_neighbors=50)
    
    recommendations = []
    
    for i in range(0, len(distances.flatten())):

        if i == 0:
            print(f'Recommendations for "{film_name}":\n')
        else:
            # Append recommendation details to the list
            index = indices.flatten()[i]  # Get the original DataFrame index for the recommended item
            recommendations.append({
                'index': df.index[index],
                'primaryTitle': df.iloc[indices.flatten()[i]]['primaryTitle'],
                'Distance': distances.flatten()[i],
                'rating': df['averageRating'][i] 
            })
           
            
    
    # Convert the list of recommendations to a DataFrame
 
    recommendations_df = pd.DataFrame(recommendations)
    return recommendations_df 

film_name1 = input("Enter the name of the film: ")
film_name = suggest_film_name_contains(film_name1, df)
rec_knn = get_recommendations(film_name, df, model_knn, vectorizer)
rec_knn

Recommendations for "Avatar":

    index                               primaryTitle  Distance rating
0     368                   Avatar: The Way of Water  0.580284    9.0
1   54677                              Dasham Avatar  0.600380    8.8
2   43208                          The King's Avatar  0.636219    8.8
3     596                 Avatar: The Last Airbender  0.645493    9.2
4   45809                          The King's Avatar  0.662175    8.8
5   66687                        The Neanderthal Man  1.000000    8.9
6   66697                       Daughter of Darkness  1.000000    9.5
7   66696                        Wild Chicks in Love  1.000000    8.7
8   66695                            The Dirty South  1.000000    8.7
9   66694                                   Comanche  1.000000    9.2
10  66693                        My Friends, My Love  1.000000    8.9
11  66692                              Top Sensation  1.000000    9.0
12  66691                           The Annihilators  1.000000    8.4
13  66690                             Tiger Claws II  1.000000    8.6
14  66675                           Together with Me  1.000000    8.8
15  66688                                   Fan Girl  1.000000    8.5
16  66681                                   Mysteria  1.000000    8.5
17  66682                           Ice from the Sun  1.000000    8.4
18  66678                          Moonlight Chicken  1.000000    8.2
19  66679                                  I See You  1.000000    8.2
20  66680                            Di Di Hollywood  1.000000    8.6
21  66650                                    Arcadia  1.000000    8.6
22  66685                                        X/Y  1.000000    8.4
23  66684                 Slaughter in San Francisco  1.000000    8.0
24  66689                                Don't Click  1.000000    8.6
25  66676           Beyond Beauty: Taiwan from Above  1.000000    9.0
26  66673                              When It Melts  1.000000    8.2
27  66674                     In the Name of the Law  1.000000    8.5
28  66677                         The Disenchantment  1.000000    8.5
29  66656                         Life Is to Whistle  1.000000    8.6
30  66657  Mack the Knife - Brecht's Threepenny Film  1.000000    7.9
31  66658                                   Opponent  1.000000    8.7
32  66659                                  The Sower  1.000000    9.0
33  66660                                 Marvel 616  1.000000    8.7
34  66661                       Six Bridges to Cross  1.000000    8.4
35  66662                        The Single Standard  1.000000    8.5
36  66663                                Timewasters  1.000000    7.9
37  66664                               Air of Paris  1.000000    8.0
38  66665                                     Career  1.000000    8.4
39  66666                                    Gunshot  1.000000    8.7
40  66667                      10 Promises to My Dog  1.000000    8.5
41  66668                           The Scarlet Hour  1.000000    8.3
42  66669                                     Remedy  1.000000    8.1
43  66670                         Olmo & the Seagull  1.000000    8.4
44  66671                             Our Last Tango  1.000000    8.4
45  66672                     Haikyuu!!: Riku vs kuu  1.000000    8.2
46  66686           Danny Roane: First Time Director  1.000000    8.2
47  66654                                      Heart  1.000000    8.5
48  66683                    Exorcism at 60,000 Feet  1.000000    8.2

cosine smiu

In [11]:
#Import count from scikit-learn

from sklearn.feature_extraction.text import CountVectorizer
dfc=df
dfc['startYear'] = dfc['startYear'].astype(str)
dfc['numVotes'] = dfc['numVotes'].astype(str)
dfc['combined_features'] = dfc['primaryTitle']+ ' ' + dfc['directors'] + ' ' + dfc['actors']  + ' ' + dfc['startYear'] + ' ' + dfc['numVotes'] + ' ' + dfc['averageRating']
couv = CountVectorizer(stop_words='english', max_features= 500)
count_matrix = couv.fit_transform(dfc['combined_features'])
count_matrix

<100000x500 sparse matrix of type '<class 'numpy.int64'>'
	with 170992 stored elements in Compressed Sparse Row format>

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
# Map film names to indices
film_to_index = pd.Series(df.index, index=df['primaryTitle']).to_dict()

# Function to get cosine similarity for a given film name
def get_cosine_similarity(film_name, count_matrix, film_to_index):
    # Get the index of the film from the name
    idx = film_to_index.get(film_name)
    if idx is not None:
        # Compute cosine similarity between the film vector and all vectors
        cosine_sim = cosine_similarity(count_matrix, count_matrix[idx].reshape(1, -1))
        return cosine_sim
    else:
        return None
cosine_sim = get_cosine_similarity(film_name, count_matrix, film_to_index)

if cosine_sim is not None:
    print(cosine_sim)
else:
    print("Film not found.")

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]

In [42]:
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd


# Create a mapping from film titles to their indices in the feature matrix
film_to_index = pd.Series(df.index, index=df['primaryTitle']).to_dict()

def get_cosine_sim_recommendations(films, df, combined_features_tfidf, film_to_inde, num_recom):
    # Check if the film exists in our mapping
    recom = []
    for film_name in films:
        if film_name in film_to_index:
            # Get the index of the film from its name
            idx = film_to_index[film_name]
            # Compute cosine similarity between the film's features and the features of all films
            cosine_sim = cosine_similarity(combined_features_tfidf, combined_features_tfidf[idx].reshape(1, -1))
            
            # Get pairwise similarity scores for all films with that film
            sim_scores = list(enumerate(cosine_sim.flatten()))
            
            # Sort the films based on the similarity scores
            sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
            
            # Get the scores of the 50 most similar films, skip the first one since it is the query film itself
            sim_scores = sim_scores[1:51]
            
            # Get the film indices
            film_indices = [i[0] for i in sim_scores]
            
            # Return the top 50 most similar films
            recom.append(df.iloc[film_indices]['primaryTitle'].to_list())
    R = []
    l=len(recom)
    j=0
    for i in range(num_recom):
        if i>=l : j=0
        R.append(recom[i%l][j])
        j+=1
    return R
        

# Example usage

liked_films = ['Avatar', 'The Matrix', 'Titanic']
recommendations = get_cosine_sim_recommendations(liked_films, df, combined_features_tfidf, film_to_index, 5)
if recommendations is not None:
    print("Top recommendations:")
    print(recommendations)
else:
    print("Film not found.")

Top recommendations:
['Avatar: The Way of Water', 'The Matrix Revolutions', 'The Terror of Doctor Mabuse', 'Avatar: The Way of Water', 'The Matrix Reloaded']

hybirde model

In [43]:
content_cosine = pd.DataFrame(recommendations).astype(str)
rec_knn=rec_knn.astype(str)
matched_df = pd.merge(content_cosine, rec_knn, on=('index', 'primaryTitle'), how='inner')
matched_df.head(5)

KeyError: 'index'